<!DOCTYPE html>
<html lang="en" ng-app="saam" class="no-js">
  {% load staticfiles %}

  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <title>MultiView</title>

    <link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables.material.min.css' %}" rel="stylesheet" >
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>
  <body>
    <body class="grey lighten-2">
      <nav>
        <div class="nav-wrapper blue darken-1">
          <a href="#" id="title-text" class="c-no-pointer center brand-logo">MultiView</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#!" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a></li>
          </ul>
        </div>
      </nav>
      <div class="">
        <ul id="slide-out" class="side-nav fixed">
          <li><div>
              <div class="c-background c-no-pointer blue">
                <a href="#" class="c-no-pointer white-text">
                  Navigation</a>
              </div>
            </div></li>
            <li><a href="/" class=""><span class="blue-text">Search</span></a></li>
            <li><a href="/image_add/" class=""><span class="blue-text">Add Image</span></a></li>
            <li><a href="/images/" class=""><span class="blue-text">View All Images</span></a></li>
            <li><a href="/logout" class=""><span class="blue-text">Logout</span></a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col s3">
        </div>
        <div class="col s9" id="main-page">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="{% static 'js/materialize.min.js' %}"></script>
      <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'js/dataTables.material.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
